@define-color bg #16161C;
@define-color text #FFE6B7;
@define-color primary #F43E5C;

* {
  font-family: "Iosevka Nerd Font";
  font-size: 14px;
  font-weight: 600;

  background-color: transparent;  /* Should probably add @bg depending on wallpaper */
  color: @text;

  border: none;
  border-radius: 0;
}

/* Left module */

#workspaces button label {
  font-weight: 900;
  border: none;
}

#workspaces button.empty {
  opacity: 0.5;
}

#workspaces button.active {
  opacity: 1;
}

#workspaces button.active label {
  font-size: 16px;
  color: @primary;
}

/* Center module  */



/* Right module */

.modules-right {
  margin-right: 16px;
}

#network,
#pulseaudio,
#custom-power {
  font-size: 15px;
  margin-left: 16px;
}

#network {
  padding-right: 8px;
}

#custom-power {
  padding-right: 6px;
  color: @primary;
}