@define-color bg #2C2A24;
@define-color text #FAEDCD;
@define-color highlight #E6474C;

* {
  font-family: "Iosevka Nerd Font";
  font-size: 15px;
}

window#waybar {
  background-color: transparent;
  border-bottom: 0;
  color: @text;
}


/* Module containers */

.modules-left {
  margin: 8px 0 0 8px;
  padding: 0;
  background: @bg;
  border: 2px solid @bg;
  border-radius: 4px;
}

.modules-center {
  margin: 8px 0 0 0;
  padding: 0 10px;
  background: @bg;
  border: 2px solid @bg;
  border-radius: 4px;
}

.modules-right {
  margin: 8px 8px 0 0;
  padding: 0 10px;
  background: @bg;
  border: 2px solid @bg;
  border-radius: 4px;
}


/* Left module */

#workspaces button {
  min-width: 0px;
  padding: 0 10px;
  color: @text;
  border-radius: 4px;
}

#workspaces button.active {
  background-color: @text;
  color: @bg;
}

#workspaces button.urgent {
  background-color: @highlight;
}


/* Center module  */


/* Right module */

#custom-split {
  margin: 0 10px;
}

#network,
#custom-swaync,
#custom-power {
  padding-right: 5px;
}

#custom-swaync {
  margin: 0 15px;
}

#network:hover,
#custom-swaync:hover,
#custom-power:hover {
  color: @highlight;
}