@define-color background #2C2A24;
@define-color text #DDD5C4;
@define-color borders #A0907A;
@define-color focused #D08B57;
@define-color focused2 #BFAA80;
@define-color color1 #7699A3;
@define-color color2 #8D7AAE;
@define-color color3 #78997A;
@define-color urgent #B05A5A;

* {
  font-family: "Iosevka Nerd Font";
  font-size: 14px;
}

window#waybar {
  background-color: transparent;
  border-bottom: 0;
  color: @text;
}


/* configuring the modules */

.modules-left {
  margin: 10px 0 0 12px;
  padding: 0;
  background: @background;
  border: 2px solid @focused;
  border-radius: 4px;
}

.modules-center {
  margin: 10px 0 0 0;
  padding: 0 10px;
  background: @background;
  border: 2px solid @focused;
  border-radius: 4px;
}

.modules-right {
  margin: 10px 12px 0 0;
  padding: 0 10px;
  background: @background;
  border: 2px solid @focused;
  border-radius: 4px;
}


/* left module */

#workspaces button {
  min-width: 0px;
  padding: 0 10px;
  color: @text;
  border-radius: 0;
}

#workspaces button.active {
  background-color: @color3;
  color: @background;
}

#workspaces button.urgent {
  background-color: @urgent;
}


/* center module  */

#window {
  padding: 0 10px;
}


/* right module */

#clock,
#network,
#custom-swaync,
#custom-power {
  padding: 0 10px;
}

#network:hover,
#custom-swaync:hover,
#custom-power:hover {
  color: @color3;
}