@define-color background #2C2A24;
@define-color second-background #3A372F;
@define-color text #DDD5C4;
@define-color borders #A0907A;
@define-color focused #D08B57;
@define-color focused2 #BFAA80;
@define-color color1 #7699A3;
@define-color color2 #8D7AAE;
@define-color color3 #78997A;
@define-color urgent #B05A5A;


* {
  font-family: "Iosevka Nerd Font";
  font-size: 16px;
}

window#waybar {
  background-color: transparent;
  border-bottom: 0;
  color: @text;
  transition: background-color 0.5s;
}

#custom-openbracket,
#custom-closebracket {
  margin: 0 5px;
}


/* configuring the modules */

.modules-left {
  margin: 10px 0 0 10px;
  padding: 0 0 0 10px;
  background-color: @background;
  border: 2px solid @focused;
}

.modules-center {
  margin: 10px 0 0 0;
  padding: 0 10px 0 10px;
  background-color: @background;
  border: 2px solid @focused;
}

.modules-right {
  margin: 10px 10px 0 0;
  padding: 0 10px 0 10px;
  background-color: @background;
  border: 2px solid @focused;
}


/* left module */

#workspaces button {
  min-width: 0px;
  padding: 0 10px;
  background-color: transparent;
  color: @text;
  border-radius: 0;
}

#workspaces button.active {
  background-color: @color3;
  color: @background;
}

#workspaces button.urgent {
  background-color: @urgent;
}

#mpris {
  padding: 0 15px 0 10px;
  background-color: @background;
  color: @text;
}

#mpris.playing {
  background-color: @color3;
  color: @background;
}


/* center module  */

#window {
  padding: 0 10px;
}


/* right module */

#cpu,
#memory,
#clock,
#network,
#custom-swaync,
#custom-power {
  padding: 0 10px;
}

#network:hover,
#custom-swaync:hover,
#custom-power:hover {
  color: @color3;
}