@define-color bg #2C2A24;
@define-color text #ffe6b7;

* {
  background-color: @bg;
  color: @text;
  
  /* font-family: "Iosevka Nerd Font"; */
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;

  border: none;
  border-radius: 0;
}

/* Module containers */

.modules-left {
  margin: 0;
}

.modules-center {
  margin: 0;
}

.modules-right {
  margin-right: 12px;
}

/* Left module */

#workspaces button {
  font-weight: 600;
}

#workspaces button.empty {
  opacity: 0.5;
}

/* Center module  */

#clock {
  font-weight: 600;
}

/* Right module */

#network,
#pulseaudio,
#custom-power {
  font-size: 15px;
  margin-left: 16px;
}

#network {
  padding-right: 6px;
}

#pulseaudio {
  padding-right: 9px;
}

#custom-power {
  padding-right: 4px;
}