@define-color background #3A372F;
@define-color primary #BFAA80;
@define-color button-border #D08B57; 

#lock {
    background-image: url("/home/macchi/.config/wlogout/icons/lock.png");
}
#logout {
    background-image: url("/home/macchi/.config/wlogout/icons/logout.png");
}
#suspend {
    background-image: url("/home/macchi/.config/wlogout/icons/suspend.png");
}
#hibernate {
    background-image: url("/home/macchi/.config/wlogout/icons/hibernate.png");
}
#reboot {
    background-image: url("/home/macchi/.config/wlogout/icons/reboot.png");
}
#shutdown {
    background-image: url("/home/macchi/.config/wlogout/icons/shutdown.png");
}

* {
    background-size: 140px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px;
    box-shadow: none;
    text-shadow: none;
    color: black;
}

window {
    background-color: rgba(30, 30, 30, 0.8);
}

button {
    font-size: 20px;
    background-color: @background;
    border: 1px solid @button-border;
    border-radius: 4px;
    margin: 4px;
    min-width: 80px;
    min-height: 40px;
}

button:hover {
    background-color: @primary;
    border-color: @primary;
}