@define-color bg #2C2A24;
@define-color secondary-bg #3C3836;
@define-color text #ffe6b7;
@define-color primary #E6474C;

* {
   font-family: 'Iosevka Nerd Font Mono';
   font-size: 16px;
   font-weight: 600;
   color: @text;
}

window {
   margin: 0;
   padding: 0;
   background-color: @bg;
}

#outer-box {
   margin: 0;
   padding-bottom: 10px;
}

#input {
   margin: 10px;
   padding: 10px;
   background-color: @bg;
   border: none;
}

#input:focus {
   box-shadow: none;
}

#text {
   margin: 0;
   padding: 10px 0;
}

#entry {
   margin: 10px 10px 0;
   padding: 10px;
   border: none;
   opacity: 0.5;
}

#entry:selected {
   background-color: @secondary-bg;
   border: none;
   border-radius: 4px;
   outline: none;
   opacity: 1.0;
}

image {
   color: @primary;
   padding-right: 10px;
}